@import './main.css';

.wp-block-mai-grid-gallery {
	position: relative;

	figcaption {
		position: absolute;
		bottom: 8px;
		left: 8px;
		right: 8px;
		width: calc(100% - 16px);
		margin: 0;
		padding: 4px;
		background: rgba(255, 255, 255, 0.75);
		color: rgba(0, 0, 0, 0.75);
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
