.wp-block-mai-grid-gallery {
	display: grid;
	gap: 8px;

	> :where(figure) {
		width: 100%;
		height: 100%;
		margin: 0;
		border-radius: var(--image-border-radius, var(--border-radius, 0));
		overflow: hidden;

		.components-resizable-box__container {
			width: 100% !important;
			height: 100% !important;
			max-width: unset !important;
			max-height: unset !important;
		}

		img,
		video {
			display: block !important;
			width: 100% !important;
			height: 100% !important;
			object-position: var(--object-position, 50% 50%) !important;
			object-fit: cover;
		}
	}

	/**
	 * We shouldn't be allowed to add links,but for now if someone does,
	 * this will make sure it doesn't bork the styling.
	 */
	.wp-block-image a {
		display: contents;
	}

	.components-resizable-box__handle  {
		display: none !important;
	}
}

.wp-block-mai-grid-gallery {
	aspect-ratio: 2/1;
	grid-template-columns: repeat(24,1fr);
	grid-template-rows: repeat(12,1fr);

	> * {
		grid-column: span 4 / auto;
		grid-row: span 4 / auto
	}

	/* 2 items */
	&.has-visible-2,
	&:not([class*="has-visible-"]):has(>:nth-of-type(2):last-of-type) {
		>:first-of-type,
		>:nth-of-type(2) {
			grid-column: span 12 / auto;
			grid-row: span 12 / auto;
		}
	}

	/* 3 items */
	&.has-visible-3,
	&:not([class*="has-visible-"]):has(>:nth-of-type(3):last-of-type) {
		>:first-of-type,
		>:nth-of-type(2),
		>:nth-of-type(3) {
			grid-column: span 8 / auto;
			grid-row: span 12 / auto;
		}
	}

	/* 4 items */
	&.has-visible-4,
	&:not([class*="has-visible-"]):has(>:nth-of-type(4):last-of-type) {
		>:first-of-type {
			grid-column: span 12 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2) {
			grid-column: span 12 / auto;
			grid-row: span 7 / auto;
		}

		>:nth-of-type(3),
		>:nth-of-type(4) {
			grid-column: span 6 / auto;
			grid-row: span 5 / auto;
		}
	}

	/* 5 items */
	&.has-visible-5,
	&:not([class*="has-visible-"]):has(>:nth-of-type(5):last-of-type) {
		>:first-of-type {
			grid-column: span 12 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2),
		>:nth-of-type(4) {
			grid-column: span 6 / auto;
			grid-row: span 7 / auto;
		}

		>:nth-of-type(3),
		>:nth-of-type(5) {
			grid-column: span 6 / auto;
			grid-row: span 5 / auto;
		}
	}

	/* 6 items */
	&.has-visible-6,
	&:not([class*="has-visible-"]):has(>:nth-of-type(6):last-of-type) {
		>:first-of-type {
			grid-column: span 12 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2),
		>:nth-of-type(5) {
			grid-column: span 6 / auto;
			grid-row: span 6 / auto;
		}

		>:nth-of-type(3),
		>:nth-of-type(4),
		>:nth-of-type(6) {
			grid-column: span 6 / auto;
			grid-row: span 4 / auto;
		}
	}

	/* 7 items */
	&.has-visible-7,
	&:not([class*="has-visible-"]):has(>:nth-of-type(7):last-of-type) {
		>:first-of-type {
			grid-column: span 8 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2) {
			grid-column: span 8 / auto;
			grid-row: span 6 / auto;
		}

		>:nth-of-type(3) {
			grid-column: span 8 / auto;
			grid-row: span 4 / auto;
		}

		>:nth-of-type(4) {
			grid-column: span 8 / auto;
			grid-row: span 4 / auto;
		}

		>:nth-of-type(5) {
			grid-column: span 8 / auto;
			grid-row: span 6 / auto;
		}
	}

	/* 8 items */
	&.has-visible-8,
	&:not([class*="has-visible-"]):has(>:nth-of-type(8):last-of-type) {
		>:first-of-type {
			grid-column: span 8 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2) {
			grid-column: span 8 / auto;
			grid-row: span 6 / auto;
		}

		>:nth-of-type(3) {
			grid-column: span 8 / auto;
			grid-row: span 4 / auto;
		}

		>:nth-of-type(6) {
			grid-column: span 8 / auto;
			grid-row: span 6 / auto;
		}
	}
}
