.wp-block-mai-grid-gallery {
	position: relative;
	display: grid;
	gap: var(--mai-grid-gallery-gap, 8px);
	grid-template-columns: repeat(24,1fr);
	grid-template-rows: repeat(12,1fr);
	border-radius: var(--mai-grid-gallery-border-radius, var(--image-border-radius, var(--border-radius, 0)));
	aspect-ratio: var(--mai-grid-gallery-aspect-ratio, 2/1);
	overflow: hidden; /* for the badge radius */

	> * {
		grid-column: span 4 / auto;
		grid-row: span 4 / auto
	}

	> :where(figure) {
		width: 100%;
		height: 100%;
		margin: 0;
		border-radius: var(--mai-grid-gallery-border-radius, var(--image-border-radius, var(--border-radius, 0)));
		overflow: hidden;

		.components-resizable-box__container {
			width: 100% !important;
			height: 100% !important;
			max-width: unset !important;
			max-height: unset !important;
		}

		img,
		video {
			display: block !important;
			width: 100% !important;
			height: 100% !important;
			object-position: var(--object-position, 50% 50%) !important;
			object-fit: cover;
		}
	}

	/* 1 item */
	&[data-visible="1"] {
		>:first-of-type {
			grid-column: span 24 / auto;
			grid-row: span 12 / auto;
		}
	}

	/* 2 items */
	&[data-visible="2"] {
		>:first-of-type,
		>:nth-of-type(2) {
			grid-column: span 12 / auto;
			grid-row: span 12 / auto;
		}
	}

	/* 3 items */
	&[data-visible="3"] {
		>:first-of-type,
		>:nth-of-type(2),
		>:nth-of-type(3) {
			grid-column: span 8 / auto;
			grid-row: span 12 / auto;
		}
	}

	/* 4 items */
	&[data-visible="4"] {
		>:first-of-type {
			grid-column: span 12 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2) {
			grid-column: span 12 / auto;
			grid-row: span 7 / auto;
		}

		>:nth-of-type(3),
		>:nth-of-type(4) {
			grid-column: span 6 / auto;
			grid-row: span 5 / auto;
		}
	}

	/* 5 items */
	&[data-visible="5"] {
		>:first-of-type {
			grid-column: span 12 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2),
		>:nth-of-type(4) {
			grid-column: span 6 / auto;
			grid-row: span 7 / auto;
		}

		>:nth-of-type(3),
		>:nth-of-type(5) {
			grid-column: span 6 / auto;
			grid-row: span 5 / auto;
		}
	}

	/* 6 items */
	&[data-visible="6"] {
		>:first-of-type {
			grid-column: span 12 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2),
		>:nth-of-type(5) {
			grid-column: span 6 / auto;
			grid-row: span 6 / auto;
		}

		>:nth-of-type(3),
		>:nth-of-type(4),
		>:nth-of-type(6) {
			grid-column: span 6 / auto;
			grid-row: span 4 / auto;
		}
	}

	/* 7 items */
	&[data-visible="7"] {
		>:first-of-type {
			grid-column: span 8 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2) {
			grid-column: span 8 / auto;
			grid-row: span 6 / auto;
		}

		>:nth-of-type(3) {
			grid-column: span 8 / auto;
			grid-row: span 4 / auto;
		}

		>:nth-of-type(4) {
			grid-column: span 8 / auto;
			grid-row: span 4 / auto;
		}

		>:nth-of-type(5) {
			grid-column: span 8 / auto;
			grid-row: span 6 / auto;
		}
	}

	/* 8 items */
	&:not([data-visible]),
	&[data-visible="0"],
	&[data-visible="8"] {
		>:first-of-type {
			grid-column: span 8 / auto;
			grid-row: span 12 / auto;
		}

		>:nth-of-type(2) {
			grid-column: span 8 / auto;
			grid-row: span 6 / auto;
		}

		>:nth-of-type(3) {
			grid-column: span 8 / auto;
			grid-row: span 4 / auto;
		}

		>:nth-of-type(6) {
			grid-column: span 8 / auto;
			grid-row: span 6 / auto;
		}
	}

	/**
	 * We shouldn't be allowed to add links,but for now if someone does,
	 * this will make sure it doesn't bork the styling.
	 */
	 .wp-block-image a {
		display: contents;
	}

	.components-resizable-box__handle  {
		display: none !important;
	}
}

.wp-block-mai-grid-gallery-item {
	cursor: pointer;
	transition: opacity 0.2s ease-in-out;
}

.wp-block-mai-grid-gallery-item:hover,
.wp-block-mai-grid-gallery-item:focus {
	opacity: 0.8;
}

.wp-block-mai-grid-gallery__badge {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex !important;
	align-items: center;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1;
	border-top-right-radius: var(--mai-grid-gallery-border-radius, var(--image-border-radius, var(--border-radius, 0)));
}

.wp-block-mai-grid-gallery__badge-icon {
	flex-shrink: 0;
	width: 1.5rem;
	height: 1.5rem;
	background-color: currentColor;
	mask-image: var(--mai-grid-gallery-icon, url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M4 8v-2a2 2 0 0 1 2 -2h2' /%3E%3Cpath d='M4 16v2a2 2 0 0 0 2 2h2' /%3E%3Cpath d='M16 4h2a2 2 0 0 1 2 2v2' /%3E%3Cpath d='M16 20h2a2 2 0 0 0 2 -2v-2' /%3E%3Cpath d='M8 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0' /%3E%3Cpath d='M16 16l-2.5 -2.5' /%3E%3C/svg%3E"));
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

.wp-block-mai-grid-gallery__badge-count::before {
	margin-inline: 2px;
	content: '+';
}